# Key Bindings Configuration
# Format: ACTION_NAME=KEY_CODE

MOVE_LEFT=71
MOVE_RIGHT=72
JUMP=57
SHOOT_PROJECTILE=5
SWITCH_PROJECTILE=17
MELEE_ATTACK=0
SPECIAL_ATTACK=18
USE_POTION=16
OPEN_SKILL_TREE=19
